*{
    box-sizing: border-box;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    
}

header,main,footer,nav{
    border: 1px solid black;
    padding: 3%;
    min-height: 10vh;
    


}



a{
    text-decoration: none;
    color: black;
}

main{
    min-height: 10vh;
}

/* manu */
.hidden{
    height: 0;
    margin-left: -110vw;
}
header nav{
    display: grid;
    transition: all 1s;
    width: 100%;
    height: 15vh;
    

}.menubutton{
    background-color:transparent;
    border: none;
    font-size: 4rem;
}
/* item button */
.item_button{
    background-color: transparent;
    border: none;
    font-size: 1rem;
}
/* item picture */
.imgbox_meny{
    border: 1px solid black;
    aspect-ratio: 5/5;
    place-items: center;

}
 
 .imgbox_meny .itempic{
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
 }
  .meny_main{

    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 85vw);
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
} 
.card_meny{
    border: 1px solid black;
    padding: 3%;
    scroll-snap-align: center;

}
/* item individual website */

.imgbox_meny{
    border: 1px solid black;
    aspect-ratio: 1/1;
    overflow: hidden;

}
 
 .imgbox_meny .drinks{
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
 }
 .card_meny h2{
    text-align: center;
 }
 
 
 .imgbox_meny{
    border: 1px solid black;
    aspect-ratio: 1/1;

}
.card_item_info{
    border:1px solid #ddd;
    padding: 3%;
    scroll-snap-align: center;
}
.row_div{
    display:grid;
    grid-template-rows: 1fr auto;
}
.latte_button{
    font-size:1rem;
    background:white;
    color:black;
    border-radius: 8px;
}

/* search bar */

#search {
    padding: 10px 18px; /* top ------ bottom */
    border: 2px solid #4a2c0a;
    border-radius: 999px; /* full round */
    
    color: #f5e6d0;
    font-size: 0.95rem;
    outline: none;
    width: 220px;
    transition: border-color 0.2s, box-shadow 0.2s, width 0.3s;
}

#search::placeholder {
    color: #030303; /*  text färg */
}

#search:focus {   /* aktivieras vid klick */
    
    border-color: #23b6f5;
    box-shadow: 0 0 0 3px rgba(245, 166, 35, 0.2); /* genomskinlig */
    width: 280px;
}
header {
    display: grid;
    gap: 20px;
}


@media (min-width: 600px){
    #nav{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        place-items: center;

    }
    .menubutton{
        display: none;
    }
    .meny_main{
        display: grid;
        grid-template-columns: 1fr 1fr;

    }
    .card_meny{
        display: grid;
        gap:30px;
        text-align: center;
    }
    .card_item_info{
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap:30px;
        
       
    }

    
    
}





/* INVISIBLE I SÖK */

.invisible{
    display: none;
}